*.hi
*.hi-boot
*.o
*.o-boot
*~
*.comb
bin/*
tests/*.tmp
tests/*.out
tests/*.h
tests/*.exe
tests/*.so
old/*
tmp/*
a.out
*.prof
dist-newstyle/
dist/
.mhsi
Interactive.hs
.mhscache
*.js
*.wasm
/tags
.hpc/*
*.pkg
*.bak
timing
mdist/*
dist-mcabal/
generated/mhs-stage*.c
