*.comb binary
*.ico binary
doc/hs2024.pdf binary
generated/* binary
generated/* merge=ours
web-mhs/mhs-embed.js
web-mhs/mhs-embed.js merge=ours
web-mhs/mhs-embed.wasm
web-mhs/mhs-embed.wasm merge=ours
